<div class="backArrowDiv">
       <span matTooltip="Quay lại"
             [routerLink]="['/user/newsfeed']"
             class="backButton title material-icons a1 a2 backArrowSpan">keyboard_backspace</span>
</div>
<h2 align="center" class="a1 a2">
  <sub><span style="color: #1c75bc; font-size: 22px;"
             class="material-icons">recent_actors
        </span></sub>&nbsp;Tin của bạn
</h2>
<div class="divFix" style="background-color: #faf7f7; border-radius: 5px">

  <div class="row" style="border-radius: 10px;" #scrollMe [scrollTop]="scrollMe.scrollHeight"
       id="scroll">
    <div *ngFor="let short of shortNew"
         style="background:wheat; margin-right: 15px; height: 220px; width: 160px;
           border-radius: 10px; border: 1px solid; margin-bottom: 15px"
         class=" margin-left-15 test">
      <div class="row" style="margin-bottom: 2px">
        <div class="col-3">
          <img style="width: 30px; height: 30px; border-radius: 50%; margin-top: 2px; border: #1c75bc 1px solid"
               src="{{short.user?.avatar}}">
        </div>
        <div class="col-3">
        </div>
      </div>
      <img style="width: 100%;height: border-box; border-radius: 5px" src="{{short.image}}">
      <P>{{short?.content}}</P>
    </div>
  </div>
</div>

